webinar.flow
[{"id":"9ca493a8.43f21","type":"tab","label":"Webinar","disabled":false,"info":""},{"id":"cfcdd76c.73cfb8","type":"watson-speech-to-text","z":"9ca493a8.43f21","name":"","alternatives":"","speakerlabels":false,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","band":"BroadbandModel","bandhidden":"BroadbandModel","password":"pAJYZ8x4Ph7t","payload-response":true,"streaming-mode":false,"default-endpoint":true,"service-endpoint":"","x":480,"y":260,"wires":[["dc5735c8.445ef8","ae2162e9.b7e5a","fd3d8f5d.21cee8"]]},{"id":"dc5735c8.445ef8","type":"debug","z":"9ca493a8.43f21","name":"","active":true,"console":"false","complete":"transcription","x":710,"y":220,"wires":[]},{"id":"2ece2fdb.def7d8","type":"comment","z":"9ca493a8.43f21","name":"Paste API keys for Speech to Text","info":"1. Log into Bluemix\n2. Create an instance of the \nWatson Speech to Text service.\n3. Visit the Service Credentials tab\n4. Click on View Credentials\n5. Copy/Paste the password and username into\nthis Node-RED node.","x":440,"y":220,"wires":[]},{"id":"49db08a0.5d0e7","type":"watson-text-to-speech","z":"9ca493a8.43f21","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_AllisonVoice","voicehidden":"en-US_AllisonVoice","format":"audio/wav","password":"5824BY7NvNkT","payload-response":true,"default-endpoint":true,"service-endpoint":"","x":220,"y":880,"wires":[["57d096cd.661e1"]]},{"id":"3ad8ddd7.be48f2","type":"comment","z":"9ca493a8.43f21","name":"Paste API keys for Text to Speech","info":"1. Log into Bluemix\n2. Create an instance of the \nWatson Text to Speech service.\n3. Visit the Service Credentials tab\n4. Click on View Credentials\n5. Copy/Paste the password and username into\nthis Node-RED node.","x":260,"y":940,"wires":[]},{"id":"ae2162e9.b7e5a","type":"ui_text","z":"9ca493a8.43f21","group":"d3350088.856d1","order":0,"width":0,"height":0,"name":"","label":"Microphone input : ","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":260,"wires":[]},{"id":"fbf4044d.b033a8","type":"ui_text","z":"9ca493a8.43f21","group":"d3350088.856d1","order":0,"width":"8","height":"4","name":"","label":"Audio output","format":"{{msg.payload}}","layout":"row-spread","x":210,"y":840,"wires":[]},{"id":"8c278cd2.db5af8","type":"link in","z":"9ca493a8.43f21","name":"English Output","links":["3fad9e7c.6e23ea","cf186ae9.2ac7e8","62a75bd5.064504","bd6ff28e.bbb61"],"x":75,"y":860,"wires":[["fbf4044d.b033a8","49db08a0.5d0e7"]]},{"id":"c70e8911.5121","type":"comment","z":"9ca493a8.43f21","name":"Speak text and output to dashboard ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++","info":"","x":450,"y":800,"wires":[]},{"id":"b5509abb.5db7b","type":"change","z":"9ca493a8.43f21","name":"","rules":[{"t":"set","p":"tempC","pt":"flow","to":"payload.d.temp","tot":"msg"},{"t":"set","p":"tempF","pt":"flow","to":"msg.payload.d.temp * 9/5 + 32","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":100,"wires":[[]]},{"id":"f2cd0718.d5784","type":"comment","z":"9ca493a8.43f21","name":"Store current temperature in flow context","info":"","x":620,"y":100,"wires":[]},{"id":"9c71b738.af3758","type":"watson-conversation-v1","z":"9ca493a8.43f21","name":"TobyJnr Conversation","workspaceid":"fe7831de-8ead-47ec-9105-b9c87d8dee53","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":false,"service-endpoint":"","x":400,"y":460,"wires":[["54d10df8.eb63e4","6b3812f1.cc164c"]]},{"id":"54d10df8.eb63e4","type":"switch","z":"9ca493a8.43f21","name":"Conversation Actions","property":"payload.output.action","propertyType":"msg","rules":[{"t":"eq","v":"CurrentTempCentigrade","vt":"str"},{"t":"eq","v":"CurrentTempFahrenheit","vt":"str"},{"t":"eq","v":"CurrentWeather","vt":"str"},{"t":"eq","v":"changeColour","vt":"str"},{"t":"eq","v":"quit","vt":"str"},{"t":"else"}],"checkall":"false","outputs":6,"x":620,"y":480,"wires":[["dc26dd80.e54b2"],["c447e1f2.7a5a8"],["d96ce7d8.a55f1"],["5f7e5e82.8f77c8"],["85ae98c8.16ff1"],["ae1f5ff1.e2022"]]},{"id":"559159a1.9b566","type":"inject","z":"9ca493a8.43f21","name":"","topic":"","payload":"Hi","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":540,"wires":[["9c71b738.af3758"]]},{"id":"feb78655.48e9f8","type":"inject","z":"9ca493a8.43f21","name":"Weather","topic":"","payload":"What is the weather today","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":140,"y":580,"wires":[["9c71b738.af3758"]]},{"id":"d87e50a2.978858","type":"inject","z":"9ca493a8.43f21","name":"","topic":"","payload":"bye","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":620,"wires":[["9c71b738.af3758"]]},{"id":"3be7e8d.e3be018","type":"inject","z":"9ca493a8.43f21","name":"","topic":"","payload":"set colour to green","payloadType":"str","repeat":"","crontab":"","once":false,"x":170,"y":660,"wires":[["9c71b738.af3758"]]},{"id":"dc26dd80.e54b2","type":"template","z":"9ca493a8.43f21","name":"Centigrade","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.output.text.0}} {{flow.tempC}}, {{payload.output.text.1}}","output":"str","x":830,"y":400,"wires":[["bd6ff28e.bbb61"]]},{"id":"a12a9846.a2591","type":"inject","z":"9ca493a8.43f21","name":"","topic":"","payload":"What's the temp in C","payloadType":"str","repeat":"","crontab":"","once":false,"x":180,"y":700,"wires":[["9c71b738.af3758"]]},{"id":"85ae98c8.16ff1","type":"change","z":"9ca493a8.43f21","name":"End conversation","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.output.text[0]","tot":"msg"},{"t":"set","p":"inConversation","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":560,"wires":[["bd6ff28e.bbb61"]]},{"id":"c447e1f2.7a5a8","type":"template","z":"9ca493a8.43f21","name":"Fahrenheit","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.output.text.0}} {{flow.tempF}}, {{payload.output.text.1}}","output":"str","x":830,"y":440,"wires":[["bd6ff28e.bbb61"]]},{"id":"5f7e5e82.8f77c8","type":"template","z":"9ca493a8.43f21","name":"Colour","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.output.text.0}}, {{payload.output.text.1}}","output":"str","x":810,"y":520,"wires":[["bd6ff28e.bbb61"]]},{"id":"d96ce7d8.a55f1","type":"change","z":"9ca493a8.43f21","name":"convData","rules":[{"t":"set","p":"convData","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":480,"wires":[["83947847.6909a","35b69f91.7f6218"]]},{"id":"77e75315.9926dc","type":"template","z":"9ca493a8.43f21","name":"format forecast","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{convData.output.text.0}} {{payload.weather}} with a temperature of {{payload.tempc}} centigrade, {{convData.output.text.1}}","output":"str","x":1200,"y":480,"wires":[["bd6ff28e.bbb61"]]},{"id":"af3edd12.1e3b3","type":"comment","z":"9ca493a8.43f21","name":"Have a conversation with the flow ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++","info":"","x":450,"y":360,"wires":[]},{"id":"cb1fd541.29b2e8","type":"inject","z":"9ca493a8.43f21","name":"Temp F","topic":"","payload":"What's the temp in Fahrenheit","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":740,"wires":[["9c71b738.af3758"]]},{"id":"fd3d8f5d.21cee8","type":"link out","z":"9ca493a8.43f21","name":"","links":["a05efaed.bde08"],"x":635,"y":300,"wires":[]},{"id":"319fd9ea.d9256e","type":"comment","z":"9ca493a8.43f21","name":"to conversation","info":"","x":740,"y":300,"wires":[]},{"id":"a05efaed.bde08","type":"link in","z":"9ca493a8.43f21","name":"conversation","links":["fd3d8f5d.21cee8"],"x":215,"y":460,"wires":[["9c71b738.af3758"]]},{"id":"ae1f5ff1.e2022","type":"change","z":"9ca493a8.43f21","name":"speak text","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.output.text[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":600,"wires":[["bd6ff28e.bbb61"]]},{"id":"bd6ff28e.bbb61","type":"link out","z":"9ca493a8.43f21","name":"","links":["8c278cd2.db5af8"],"x":1375,"y":480,"wires":[]},{"id":"de11bd19.3d1638","type":"comment","z":"9ca493a8.43f21","name":"Speak output","info":"","x":1490,"y":480,"wires":[]},{"id":"1634617b.e4b9ff","type":"comment","z":"9ca493a8.43f21","name":"Paste API keys for Conversation","info":"1. Log into Bluemix\n2. Create an instance of the \nWatson Conversation service.\n3. Visit the Service Credentials tab\n4. Click on View Credentials\n5. Copy/Paste the password and username into\nthis Node-RED node.","x":430,"y":560,"wires":[]},{"id":"2e68970a.9b8f","type":"ui_text_input","z":"9ca493a8.43f21","name":"","label":"Text input","group":"fc1bc5b0.bcac58","order":0,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":500,"y":300,"wires":[["fd3d8f5d.21cee8"]]},{"id":"83947847.6909a","type":"wunderground","z":"9ca493a8.43f21","name":"","lon":"","lat":"","city":"London","country":"UK","x":1000,"y":480,"wires":[["77e75315.9926dc","35b69f91.7f6218"]]},{"id":"91bd53b4.361ca","type":"microphone","z":"9ca493a8.43f21","name":"","x":290,"y":260,"wires":[["cfcdd76c.73cfb8"]]},{"id":"35b69f91.7f6218","type":"debug","z":"9ca493a8.43f21","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1227.77783203125,"y":305.5555725097656,"wires":[]},{"id":"57d096cd.661e1","type":"ui_audio","z":"9ca493a8.43f21","name":"","group":"d3350088.856d1","voice":"","always":"","x":395,"y":880,"wires":[]},{"id":"96df722.e2d9e9","type":"comment","z":"9ca493a8.43f21","name":"Test inputs","info":"","x":120,"y":500,"wires":[]},{"id":"6b3812f1.cc164c","type":"debug","z":"9ca493a8.43f21","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":570,"y":400,"wires":[]},{"id":"7d88992c.278558","type":"ibmiot in","z":"9ca493a8.43f21","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterfaceId":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"simDeviceType","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":140,"y":100,"wires":[["d5f33eec.a9cd3","b5509abb.5db7b"]]},{"id":"d5f33eec.a9cd3","type":"debug","z":"9ca493a8.43f21","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":60,"wires":[]},{"id":"e066d2b9.b460c","type":"comment","z":"9ca493a8.43f21","name":"Get IoT data from sensor and store in flow object +++++++++++++++++++++++++++++++++++++++++++++++++++++","info":"","x":450,"y":20,"wires":[]},{"id":"a00fa8f8.a9b6a8","type":"comment","z":"9ca493a8.43f21","name":"Input +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++","info":"","x":450,"y":180,"wires":[]},{"id":"d3350088.856d1","type":"ui_group","z":"","name":"Audio","tab":"dd346b45.31a8e8","order":3,"disp":true,"width":"8"},{"id":"fc1bc5b0.bcac58","type":"ui_group","z":"","name":"Conversation","tab":"dd346b45.31a8e8","order":4,"disp":true,"width":"8"},{"id":"dd346b45.31a8e8","type":"ui_tab","z":"","name":"TJBot","icon":"dashboard","order":4}]
